<h1>STUDENTS INDEX</h1>

<% @students.each do |student| %>
  <%= student.first_name + " " + student.last_name %><br/><br/>
<% end %>

<br/>
<br/>
<a href=<%= new_student_path %>>Create A New Student</a>